<html lang="en">
<head>
  <title>Order Service Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="container">
    <table class="table table-striped">
<thead>
<tr>
    <th>Order Id</th>
    <th>Customer Id</th>
    <th> Order Description</th>
    <th>ViewDetail</th>
</tr>
</thead>
<tbody>
<tr *ngFor="let order of orders">
<th>{{order.id}}</th>
<th>{{order.custId}}</th>
<th>{{order.orderDesc}}</th>
<th><a class="btn btn-sm text-white btn-primary" [routerLink]="['/summary/']+order.id">View Detail</a></th>
</tr>
</tbody>
    </table>
</div>
<div class="page-content" style="text-align:center">
    <router-outlet></router-outlet>
</div>


</body>
</html>
